
  <!-- start header nav-->
   <div class="navbar-fixed">
      <nav class="cyan">
          <div class="nav-wrapper">
              <a class="logo-wrapper">
                  <img class="contarlogo" src="../../assets/contentlocal/images/Contar/logocontar-1.png" class="responsive-img" style="width: 14%" alt="Contar ERP Logo">
              </a>
              <ul class="right hide-on-med-and-down">
  
                  <li class="search-out">
                      <input type="text" class="search-out-text">
                  </li>
                  <li>    
                      <a href="javascript:void(0);" class="waves-effect waves-block waves-light show-search">
                        <i class="material-icons Medium">search</i>
                      </a>                              
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen">
                      <i class="material-icons Medium">fullscreen</i>
                    </a>
                  <li>
                      <a href="javascript:void(0);" class="waves-effect waves-block waves-light show-search">
                        <i class="material-icons Medium">apps</i>
                      </a>
                  </li>
                  <!-- Dropdown Trigger -->
                  <li><a href="#" data-activates="chat-out" class="waves-effect waves-block waves-light chat-collapse">
                      <i class="material-icons Medium">message</i>
                    </a>
                  </li>
              </ul>
          </div>
      </nav>
  </div>
  <!-- end header nav-->