﻿td, th {
    padding: 3px 0px !important;
}

.cyan {
    background-color: #00bcd4  !important;
}

header .brand-logo {
    height:0px;
    background: #00bcd4 !important;
    width: 17.7% !important;
    margin: 0px 0px !important;
    padding: 0 0px !important;
    border: 1px !important;
    border-right-style: double !important;
    border-color: #00bcd4 !important;
    box-shadow: 5px -35px 2px #888888 !important;
}

 .li
    {
        border-right: 0.1px;
    border-right-style: ridge;
    border-right-color: #010d51;
    width: auto;
    box-shadow: 2px 0px 2px #888888 !important;
    height: 63px;
    }
    .Text-Modulo
    {
        color: white;
        position: relative;
        margin-top: -50px;
        text-align: -webkit-center;
    }
    .Text-Modulo:hover
     {
        color:black;
        cursor:pointer;
      }
    .li-accion
    {
        margin-top: -12%;
        text-align: -webkit-center;
        margin-bottom: 10%;
    }

    .contarlogo {
        box-shadow: 2px -10px 2px #888888 !important;
    width: 100%;
    margin-left: 0px;
    margin-top: -11px;
    height: auto;
}