<input #search class="search" type="text" placeholder="Search..." (keydown.enter)="onSearch(search.value)">
<!-- <ng2-smart-table [settings]="settings" [source]="Employees"></ng2-smart-table> -->

<table datatable class="row-border hover">
<thead>
    <tr>
        <th>ID</th>
        <th>fullName</th>
        <th>typeContract</th>
        <th>rate</th>
        <th>dateCreation</th>
        <th>Update</th>
        <th>Delete</th>
        <th>Annual Salary</th>
    </tr>
</thead>
<tbody>
        <tr *ngFor="let item of Employees ; let i = index">
            <td>{{ item.ID }}</td>
            <td>{{ item.fullName }}</td>
            <td>{{ item.typeContract }}</td>
            <td>{{ item.rate }}</td>
            <td>{{ item.dateCreation }}</td>
            <td>
                <input type="button" (click)="edition(i)" value="Edit" class="waves-effect orange waves-light btn">
            </td>
            <td>
                <input type="button"  (click)="delete(item.ID, i)" value="Delete" class="waves-effect red waves-light btn">
            </td>

            <td>
              <input type="button" (click)="getAnnualSalary(i)" value="Get" class="waves-effect blue waves-light btn">
          </td>
        </tr>
</tbody>
</table> 

<div class= "fixed-action-btn" style="bottom: 85px; right: 24px;">
    <a href="#ModalAdd" class="btn btn-floating btn-large green pulse  modal-trigger"><i class="material-icons">add</i></a>
 </div>

<!-- [Modal Sheet] Seccion de Creacion de nuevos elementos ----------------------------------------------- -->
<div id="ModalAdd" class="modal bottom-sheet">
<div class="modal-content">
    <h5>Agregar elemento</h5>
    <div class="row">
        <div class="input-field col s6">
            <input placeholder="Company name" id="Name" [(ngModel)]="Model.Name" type="text" class="validate">
            <label for="Name">Name</label>
        </div>
        <div class="input-field col s6">
            <input placeholder="Url Production" id="UrlProduction" [(ngModel)]="Model.UrlProduction" type="text" class="validate">
            <label for="UrlProduction">UrlProduction</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <input placeholder="Aplication name" id="Aplication" [(ngModel)]="Model.Aplication" type="text" class="validate">
            <label for="Aplication">Aplication</label>
        </div>

        <div class="col s6">
            <label>Method process</label>
            <select class="browser-default" [(ngModel)]="Model.Method">
                    <option value="" disabled selected>CHOOSE YOUR OPTION</option>
                    <option *ngFor="let item of TypeContract" [ngValue]="item.name">{{item.name}}</option>
            </select>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a (click)="agregar();" class="waves-effect blue waves-light btn"><i class="material-icons left">cloud</i>Agregar registro</a>
</div>
</div>

<!-- [Modal Sheet] Seccion de EDICCION de elementos ----------------------------------------------- -->
<div id="ModalEdit" class="modal bottom-sheet">
<div class="modal-content">
    <h5>Ediccion del elemento</h5>
    <div class="row">
        <div class="input-field col s6">
            <input placeholder="Company name" id="Name" [(ngModel)]="ModelEdit.Name" type="text" class="validate">
            <label for="Name">Name</label>
        </div>
        <div class="input-field col s6">
            <input placeholder="Url Production" id="UrlProduction" [(ngModel)]="ModelEdit.UrlProduction" type="text" class="validate">
            <label for="UrlProduction">UrlProduction</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <input placeholder="Aplication name" id="Aplication" [(ngModel)]="ModelEdit.Aplication" type="text" class="validate">
            <label for="Aplication">Aplication</label>
        </div>
        <div class="col s6">
            <label>Method process</label>
            <select class="browser-default" [(ngModel)]="ModelEdit.Method">
                    <option value="" disabled selected>CHOOSE YOUR OPTION ...</option>
                    <option *ngFor="let item of MetodosServicios" [ngValue]="item.name">{{item.name}}</option>
            </select>
       </div>

    </div>
</div>
<div class="modal-footer">
    <a (click)="guardarEdiccion()" class="waves-effect purple waves-light btn"><i class="material-icons left">cloud</i>Editar</a>
</div>
</div>